.container .jumbotron-fluid {
  background-image: url(img/Image_Koki.png);
  background-size: cover;
  text-align: center;
  border-radius: 36px;
}

.container p {
  color: white;
  font-size: 24px;
}

.container .display-4 {
  color: white;
  font-size: 64px;
}

.container .card {
  border-radius: 36px;
}

.button1 .btn1 {
  border-radius: 36px;
  background-color: rgb(69, 98, 76);
  color: white;
}

.button1:hover .btn1 {
  background-color: rgb(153, 209, 106);
}

.button1:active .btn1 {
  background-color: rgb(69, 98, 76);
}

.button2 .btn2 {
  border-radius: 36px;
  background-color: rgb(69, 98, 76);
  color: white;
}

.button2:hover .btn2 {
  background-color: rgb(153, 209, 106);
}

.button2:active .btn2 {
  background-color: rgb(69, 98, 76);
}

/* css untuk page stok koki */
.custom-navbar1 {
  z-index: 99;
}

.judul-icon {
  color: white !important;
}

.menu-1 {
  color: black !important;
  font-size: 25px;
}

.menu-2 {
  color: white !important;
}

#jumbotron {
  height: 300px;
  margin-top: -75px;
  z-index: 100;
}

#jumbotron .col-sm-12 {
  top: 0px;
  position: relative;
  text-align: center;
  color: white;
}

#jumbotron .judul-1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
}

#jumbotron .judul-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  color: white;
  text-transform: uppercase;
}

.t-pemesanan {
  position: absolute;
  top: 904px;
}

.judul3 {
  position: absolute;
  top: 809px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
}

.btn-pesan {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 1400px;
  top: 809px;
  background-color: #3b5942;
  border-color: #3b5942;
  border-radius: 31px;
  font-family: Roboto;
  font-size: 25px;
  line-height: 40px;
}

#jumbotron .btn-dsh {
  background-color: rgb(69, 98, 76);
  color: white;
  border-radius: 36px;
}

#jumbotron .btn-stk {
  background-color: rgb(69, 98, 76);
  color: white;
  border-radius: 36px;
}

#jumbotron .btn-psn {
  background-color: rgb(69, 98, 76);
  color: white;
  border-radius: 36px;
}
