/* css untuk navbar */
.container-fluid {
    font-family: Roboto;
    font-size: 25px;
    line-height: 42px;
}

/* css untuk landing page */
#landingpage .col-sm-12 {
    position: relative;
    text-align: center;
    color: white;
}

#landingpage .judul1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-weight: 600;
    font-size: 36px;
    color: #3B5942;
    text-transform: uppercase;
}

#landingpage .judul2 {
    position: absolute;
    top: 30%;
    left: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #3B5942;
    text-transform: uppercase;
}

#landingpage .judul3 {
    position: absolute;
    top: 42%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 36px;
    line-height: 42px;
}

#landingpage .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landingpage .btn-primary {
    width: 275px;
    background-color: rgba(69, 98, 76, 0.67);
    border-color: rgba(69, 98, 76, 0.67);
    border-radius: 44px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 42px;
    letter-spacing: 0.21em;
    text-transform: uppercase;
}

#landingpage .btn-primary:hover {
    background-color: rgba(69, 98, 76, 1);
    border-color: rgba(69, 98, 76, 1);
}

/* css untuk login */
#login h1 {
    position: absolute;
    left: 200px;
    top: 175px;
    font-family: Roboto;
    font-size: 35px;
    line-height: 41px;
}

#login .username {
    position: absolute;
    width: 350px;
    left: 200px;
    top: 250px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 35px;
}

#login .password {
    position: absolute;
    width: 350px;
    left: 200px;
    top: 325px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 35px;
}

#login .login {
    position: absolute;
    left: 200px;
    top: 400px;
}

#login .btn-primary {
    width: 350px;
    background-color: rgba(59, 89, 66, 0.8);
    border-color: rgba(69, 98, 76, 0.67);
    border-radius: 90px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 42px;
    letter-spacing: 0.165em;
    text-transform: uppercase;
}

#login .btn-primary:hover {
    background-color: rgba(69, 98, 76, 1);
    border-color: rgba(69, 98, 76, 1);
}

#login .teks {
    position: absolute;
    left: 200px;
    top: 475px;
    font-family: Roboto;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
}

#login .daftar {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

#login .foto {
    position: absolute;
    width: 350px;
    height: 500px;
    left: 800px;
    top: 75px;
    border-radius: 1050px 1050px 0px 0px;
}

/* css untuk dashboard pelayan */
.custom-navbar {
    z-index: 99;
}

.judul-logo {
    color: white !important;
}

.menu-1 {
    color: white !important;
}

.menu-2 {
    color: white !important;
}

#jumbotron {
    height: 300px;
    margin-top: -75px;
    z-index: 100;
}

#jumbotron .col-sm-12 {
    position: relative;
    text-align: center;
    color: white;
}

#jumbotron .judul1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}

#jumbotron .judul2 {
    position: absolute;
    top: 50%;
    left: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    color: white;
    text-transform: uppercase;
}

.t-pemesanan {
    position: absolute;
    top: 904px;
}

.judul3 {
    position: absolute;
    top: 809px;
    font-family: Roboto;
    font-size: 36px;
    line-height: 42px;
}

.btn-pesan {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1400px;
    top: 809px;
    background-color: #3B5942;
    border-color: #3B5942;
    border-radius: 31px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 40px;
}

.btn-pesan:hover {
    background-color: rgba(69, 98, 76, 1);
    border-color: rgba(69, 98, 76, 1);
}